
<div class="parent">
    <div class="child">
        <!-- <form action=""> -->
            <div>
            <h2>Bmi</h2>
            <label for="">Height :  </label> 
            <input type="number" name="" id="" [(ngModel)]="height"> cm
            <br><br>
            <label for="">weight :  </label> 
            <input type="number" name="" id="" [(ngModel)]="weight"> Kg
            <br><br>
            <button (click)="calculator()">Calculate</button>
            <p>YOUR BMI IS:{{result}} <span> {{result2}}</span></p>
        </div>
    </div>
</div>