
<div class="parent">
    <div class="child">
            <!-- <div> -->
        <form action="">
            <h2>Reactangle</h2>
            <label for="">Length : </label>
            <input type="number" name="asdf" id=""[(ngModel)]="length">
            <br><br>
            <label for="">Width : </label>
            <input type="number" name="asdf" id="" [(ngModel)]="width">
            <br><br>
            <button (click)="area()">Area</button>
            <button (click)="Perimeter()">Perimeter</button>
            <p>Result is :{{result}}</p>
        </form>
        <!-- </div> -->
    </div>
</div>